* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    color: #404C51;
}

label {
    font-weight: bold;
}

@media (min-width: 1200px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
}

.col-valor {
    width: 120px;
    text-align: right;
}

.col-data {
    width: 120px;
    text-align: center;
}